
@media (max-width: 500px) {
 
  div#address {
    width: 100%;
    margin: auto;
    max-width: 600px;
    padding: 10px;
    display: block;
}
ul#make, #model,#comp,#year, ins{
  display: list-item!important;


    padding: 10px;
    margin: auto;
}

ul,#drivers,#ins,#addMore, #hw, #homequote {
    grid-template-columns: auto;
    width: auto;
    margin: auto;
    padding: 10px;
}

}


#form {

 position: absolute;
 width: 100%;
  animation: move 0.3s ease-in-out;

}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}


    ul {
      padding: inherit;
  
        list-style: none;
      /*  width: 90%;
        padding: 0px;
*/
    }
    li{
    list-style: none;
    position: relative;
    max-width: 600px;
    width: 100%;
    font-size: 2.5rem;
    box-shadow: #2b64e48f 0em 0em 0.5em 0em;
    text-transform: uppercase;
    border-radius: 2px;
    color: aliceblue;
    background-color: #2f9ee9;



    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #2f9ee9;
    margin: 10px auto;
    padding: 1rem 1rem;
    width: -webkit-fill-available;
    }

    ul#names{
        grid-template: inherit;
        font-size: 2rem;
    }
    ul#ins {
        display: block;
        grid-template-columns: auto;
        width: auto;
    }
    ul#drivers {
        grid-template-columns: auto;
        margin: 10px auto;
        width: auto;
    }
    #addMore {
        grid-template-columns: auto;
        margin: 10px auto;
        width: auto;
    }
    div#address {
        width: 100%;
        margin: auto;
        max-width: 600px;
    }
    li#next{
    
          
            padding: 1rem 0rem;
           
        }
    
        ul#year {
          display: table-column-group;
          display: grid;
          grid-gap: 7px 20px;
          grid-template-columns: auto auto auto auto;
          margin: auto;
      }

      ul#comp {
        display: grid;
        grid-gap: 7px 20px;
        grid-template-columns: auto auto auto auto;
        margin: auto;
    }

    ul#make {
      display: grid;
      grid-gap: 7px 20px;
      grid-template-columns: auto auto auto auto;
      margin: auto;
  }

  #model {
    display: grid;
    grid-gap: 7px 20px;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}


ul#names {
  grid-template: inherit;
  font-size: 2rem;
  margin: auto;
  padding: 10px;
  display: list-item;

}


p#title {
    text-align: center;
    position: relative;
  
    font-size: calc(4.5vw + 4.5vh);
    color: dimgrey;
    margin-top: 70px !important;
    margin-bottom: 10px;
  }



  body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: calc(2.9vw + 1.9vh);
  }





input[type="text"], input[type="submit"], input[type="password"], input[type="select"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], textarea {
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(14, 9, 9), rgb(133, 133, 133));
    /* border-image: initial; */
    border-radius: 3px;
    box-shadow: #4847ab29 0em 0em 1em 0em inset;
    border-color: #2f9ee9;
    margin: 10px auto;
    padding: 1rem 1rem;
    width: -webkit-fill-available;
    font-size: 1.5rem;

}





input#submit {
  text-align: center;
  background-color: #2f9ee9;
  color: aliceblue;
}





.log {
    max-width: 60%;
    overflow: hidden;
    padding: 20%;
    object-fit: cover;
    border-radius: 50% !important;
    margin: auto;
    animation: show 1s ease-in-out;
  }


  
.box {
    display: inline-block;
  }
  
  .progress {
    width: 170px;
    height: 170px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 100px;
  }
  
  .progress > .inner {
    position: absolute;
    color: #2f9ee9;
    font-family: arial;
    font-size: 1rem;
    background: white;
    border-radius: 100%;
    /* padding: 26px;*/
  }
  .progress > svg {
    height: 100%;
    display: block;
    color: #2f9ee9;
    z-index: 2;
  }




  
  .box {
    display: inline-block;
    position: relative;
    bottom: -50px;
    background: white;
    border-radius: 100%;
  }
  
  h3#fine {
    font-size: small;
    margin: 10% auto;
    color: gray;
    font-weight: 100;
  }
  
  div#container_box {
    position: relative;
    top: -130px;
    margin-top: 160px;
  }
  
  div#box {
    /* padding-top: 76px; */
    width: 100vw;
    background-color: white;
    padding: 0px;
    /* margin-left: 50%; */
    padding-left: 10%;
    padding-right: 10%;
    display: contents;
  }
  .inner > p {
    font-size: 26px;
    top: -36px;
    font-weight: bold;
    font-family: arial;
  }
  
  #start {
    animation: show 1s ease-in-out;
  }
  



#form{

    animation: move 0.3s ease-in-out;
}

  @keyframes show {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes move {
    from {
      margin-left: -300px;
    }
  
    to {
      margin-left: 0;
    }
  }